<div class="contact" class="contact-details" id="<%= @id %>">
  <img class="contact-photo" src = "data:image/jpg;base64,<%=@photo%>">
  <p class="contact-first-name"><%= @first_name %></p>
  <p class="contact-last-name"><%= @last_name %></p>
  <p class="contact-phone"><%= @phone %></p>
</div>